# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
LICENSE
deps
deps.lock

# Configuration files
app/config/parameters.ini

# Neatbeas project files
/nbproject